
Body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1em;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  text-align: left;
}

#byline {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
  position: sticky;
  margin-top: 50px;
}

img {
  text-align: center;
}

figcaption {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #444;
  font-style: italic;
}

p {
  text-align: left;
  padding: 15px 0px;
}
